*{
  margin:0;
  box-sizing: border-box;    
}

body{
  background: #ffffdd
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3em;
  background: #f0f0d0;
  line-height: 3em;
  text-align: center;
  border-bottom: 0.1em solid #ececcc;
}

.header .title{
  color:#990099
}

.content {
  position: fixed;
  overflow: auto;
  margin: 3em 0em 0em 0em;
  padding: 0 1em;
  width: calc(100%);
  height: calc(100% - 4em);
}

.centralizer{
  margin: 0 auto;
  max-width: 36em;
}

.list-item{
  position: relative;
  background: #f0f0d0;
  border: 0.5em solid #ececcc;   
  width: 100%;
  height: 15em;
  margin: 1em 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-position-y: top !important;
  transition: box-shadow 0.4s,  border-color  0.4s;
  overflow: hidden;
}

.list-item:hover{  
  box-shadow: 0 0 0.1em #00000077;
  border-color: #c7c7ab;
  cursor: pointer;
}

.list-item:active{  
  border-color: #c7c7ab;
}

.title-item{
  position: absolute;
  top: 0;
  left: 0;
  padding:0.5em;
  color: white;
  background: #990099aa;
  white-space: normal;
  user-select: none;
  overflow: hidden;
}

.footer-item{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  color: #990099;
  background: #ffffffaa ;
  white-space: normal;
  user-select: none;
}

.inline-left{
  display: inline-block;
  width: calc(50% - 0.5em);
  margin: 0 0.5em 0 0;
}

.inline-right{
  position: relative;
  left: -5px;
  display: inline-block;
  width: calc(50% - 0.5em);
  margin: 0 0 0 0.5em;
}

.content-pair{
  white-space: nowrap;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 1em;
  padding:0.5em;
  background: #555555;
  text-align: center;
  border-top: 0.1em solid #c7c7ab;
  color: white;
}

@media (max-width: 24em) {
  .footer-item, .title-item {
    font-size:0.9em
  }
}
